
/**图表面板**/
.comment-center .chart-sub-box{
	padding-right: 0;
}

.comment-center .admin-chart-panel{
	position:relative;
	margin-top:1rem;
	border-radius:4px;
	color:#666666;
	background-color:#FFFFFF;
}

.comment-center .admin-chart-panel .chart-title{
	position:relative;
	padding:1rem;
}
.comment-center .admin-chart-panel .chart-box{
	position:relative;
	height:332px;
}
.comment-center .admin-chart-panel .chart-box.big{
	height:300px;
}
.comment-center .admin-chart-panel .chart-data{
	position:relative;
	height:100px;
}
.comment-center .admin-chart-panel .chart-control-bar{
	position:absolute;
	top:4rem; 
	width: 100%;
	margin-left: 20%;
}
.comment-center .admin-chart-panel .chart-control-bar>select{
	margin-left:10px;
}

