<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<script th:fragment="jsVar" xmlns:th="http://www.springframework.org/schema/mvc" type="text/javascript" th:inline="javascript">  
        /*<![CDATA[*/ 
        var ctx = /*[[@{/}]]*/ '';
        var static_server = /*[[${static_server}]]*/ '';
        var base_path = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;
        var http_path = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() }]]*/;
        /*]]>*/

		//from表单转json对象
		$.fn.serializeJson=function(){
			var serializeObj={};
			var array=this.serializeArray();
			var str=this.serialize();
			$(array).each(function(){
				if(serializeObj[this.name]){
					if($.isArray(serializeObj[this.name])){
						serializeObj[this.name].push(this.value);
					}else{
						serializeObj[this.name]=[serializeObj[this.name],this.value];
					}
				}else{
					serializeObj[this.name]=this.value;
				}
			});
			return serializeObj;
		};
        
        /**************************************时间格式化处理-start************************************/
    	function dateFtt(fmt,date) { 
    		var o = {   
    		    "M+" : date.getMonth()+1,                 //月份   
    		    "d+" : date.getDate(),                    //日   
    		    "h+" : date.getHours(),                   //小时   
    		    "m+" : date.getMinutes(),                 //分   
    		    "s+" : date.getSeconds(),                 //秒   
    		    "q+" : Math.floor((date.getMonth()+3)/3), //季度   
    		    "S"  : date.getMilliseconds()             //毫秒   
    	  	};   
    	  	if(/(y+)/.test(fmt))   
    	    	fmt=fmt.replace(RegExp.$1, (date.getFullYear()+"").substr(4 - RegExp.$1.length));   
    	  	for(var k in o)   
    	    	if(new RegExp("("+ k +")").test(fmt))   
    	  			fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
    	  		return fmt;   
    	}
    	
    	/**修复ios下时间显示bug
    	*时间格式由"2016-05-31 08:00"改为"2016/05/31 08:00"
    	*/
    	function GetDateDiff(diffTime) {
    		if(diffTime){
	    		//将xxxx-xx-xx的时间格式，转换为 xxxx/xx/xx的格式 
	          	return diffTime.replace(/\-/g, "/");
    		}
    		return null;
        }
           /**将分钟转换成xx小时xx分钟*/
    	function changeHourMinutestr(str) {
    		var hours = Math.floor(str / 60).toString();
    		var minutes = (str % 60).toString();
    		if (str !== '0' && str !== '' && str !== null) {
    			return hours + '小时' + (minutes.length < 2 ? '0' + minutes : minutes) + '分钟';
    		} else {
    			return "-";
    		}
    	}
    	/**************************************时间格式化处理-END************************************/

    	function showPic(url,domnId,fileType,urlDom) {
			var liobj = document.getElementById("down_"+domnId);
			$(liobj).siblings().remove();
			$(liobj).html("");
			addUpBtn(domnId,fileType,urlDom);
			if(url.length>0){
				$(".a-upload").remove();
				$("#down_"+domnId).attr("onclick", "downfile('"+url+"')");
				$("#down_"+domnId).attr("storageFile",url);
				// $("#down_"+domnId).html(file.orifile);
				var newButton=document.createElement("i");
				newButton.setAttribute("class","fa fa-trash-o text-danger");
				newButton.setAttribute("onclick","deleteFile('"+domnId+"','"+fileType+"','"+urlDom+"');");
				$("#down_"+domnId).after(newButton);
				if($("#preview").length>0){
					$("#preview").show();
					var img = new Image();
					img.src=url;
					var $img = $(img);
					$('#preview').empty().append($img);
				}
			}
		}

    	//上传图片
		function upfileAndSave(file, domnId,fileType,urlDom) {
			if($("#preview").length>0){
				$("#preview").hide();
			}
			var liobj = document.getElementById("down_"+domnId);
			var afile = file.files[0];
			var p = liobj.parentNode;
			var objId = 0;
			if (afile!=null) {
				var formData = new FormData();
				formData.append('file', afile);
				formData.append('objId', objId);
				formData.append('objType', fileType);
				var postUrl =  ctx+'Face/upfile';
				$.ajax({
					url:  postUrl,
					type: 'POST',
					cache: false,
					data: formData,
					processData: false,
					contentType: false,
					complete: function() {
					}, success: function(result) {
						if (result.code!='200') {
							alert(result.message?result.message:"文件上传异常（error）");
						} else {
							var file = result.data;

							// $("#down_"+domnId).siblings().remove();
							$(".a-upload").remove();
							$("#"+urlDom).val(file.storagefile);
							$("#down_"+domnId).attr("onclick", "downfile('"+file.storagefile+"')");
							$("#down_"+domnId).attr("storageFile", file.storagefile);
							// $("#down_"+domnId).html(file.orifile);
							$("#down_"+domnId).attr("fileid", file.id); //fileid="100" newA.setAttribute("fileid", fileId);
							var newButton=document.createElement("i");
							newButton.setAttribute("class","fa fa-trash-o text-danger");
							newButton.setAttribute("onclick","deleteFile('"+domnId+"','"+fileType+"','"+urlDom+"');");
							$("#down_"+domnId).after(newButton);
							if($("#preview").length>0){
								$("#preview").show();
								var img = new Image();
								img.src=file.storagefile;
								var $img = $(img);
								$('#preview').empty().append($img);
							}
						}
					}, error: function(result, b) {
						alert(result.message?result.message:"文件上传异常（error）");
					}
				});
			}
		}

		//下载
		function downfile(url) {
			if (url=='' || url==null) {
			} else {
				window.open(url);
			}
		}

		//删除
		function deleteFile(domnId,fileType,urlDom){
			var liobj = document.getElementById("down_"+domnId);
			var fileId = $(liobj).attr("fileid");
			if(fileId!=null && fileId.length>0){
				$.ajax({
					url:  '/oapi/pub/sys/delete?fileId='+fileId,
					type: 'GET',
					cache: false,
					processData: false,
					contentType: false,
					complete: function() {
					}, success: function(result) {
						if (result.code!='0') {
							alert("文件删除异常, 原因："+result.message);
						} else {
							alert("文件删除成功!");
							$(liobj).siblings().remove();
							$(liobj).html("");
							addUpBtn(domnId,fileType,urlDom);
						}
					}, error: function(result, b) {
						alert("文件删除异常（error）");
					}
				});
			}else {
				$(liobj).siblings().remove();
				$(liobj).html("");
				$("#"+urlDom).val("");
				addUpBtn(domnId,fileType,urlDom);
			}
		}

		function addUpBtn(domnId,fileType,urlDom) {
			$("#down_"+domnId).after("<a href=\"javascript:;\" class=\"a-upload\">\n" +
					"<input id=\"file_"+domnId+"\" name=\"file\" accept=\"image/*\" type=\"file\" fileid=\"100\" onchange=\"upfileAndSave(this, '"+domnId+"','"+fileType+"','"+urlDom+"')\"   style=\"width:100px;\" />上传图片\n" +
					"</a><div id=\"preview\" hidden style=\"width: 300px;height:300px;border:1px solid gray;\"></div>\n")
		}
</script> 
</body>
</html>