<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxt.bysj.dao.ProductBrandMapper" >
  <resultMap id="BaseResultMap" type="com.qxt.bysj.domain.ProductBrand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brandName" property="brandname" jdbcType="VARCHAR" />
    <result column="brandPic" property="brandpic" jdbcType="VARCHAR" />
    <result column="Introduction" property="introduction" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brandName, brandPic, Introduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_brand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_brand
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qxt.bysj.domain.ProductBrand" >
    insert into product_brand (id, brandName, brandPic, 
      Introduction)
    values (#{id,jdbcType=INTEGER}, #{brandname,jdbcType=VARCHAR}, #{brandpic,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qxt.bysj.domain.ProductBrand" >
    insert into product_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandname != null" >
        brandName,
      </if>
      <if test="brandpic != null" >
        brandPic,
      </if>
      <if test="introduction != null" >
        Introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brandname != null" >
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="brandpic != null" >
        #{brandpic,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxt.bysj.domain.ProductBrand" >
    update product_brand
    <set >
      <if test="brandname != null" >
        brandName = #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="brandpic != null" >
        brandPic = #{brandpic,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        Introduction = #{introduction,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxt.bysj.domain.ProductBrand" >
    update product_brand
    set brandName = #{brandname,jdbcType=VARCHAR},
      brandPic = #{brandpic,jdbcType=VARCHAR},
      Introduction = #{introduction,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="find" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from product_brand
  </select>

  <select id="findPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from product_brand
    <where>
      <if test="brandName!= null and brandName!=''">
        AND (brandName LIKE '%' #{brandName} '%')
      </if>
    </where>
    order by id desc
  </select>
</mapper>